blockquote{
	max-width:600px;
	margin:10px;
	padding:15px;
	border-left:8px;
	border-left-style:solid;
	border-left-color:green;
	background-color:#f8fffe;
	font-weight:bold;
}

/* Your CSS Code here. */